#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar
.settings/
.project
.classpath
.springBeans
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
