#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iws
*.class
*.info
*.jar
.settings/
.project
.classpath
.springBeans
/out/
/JavaRushPlugin.properties
/out.log
/out.log.*
